<ng-container *ngIf="pokemon">
    <mat-card class="pokemon-card">
        <mat-card-header>
            <div mat-card-avatar class="pokemon-header-image"
                 [ngStyle]="{'background-image': 'url(' +pokemon.sprites!.front_default+ ')'}"></div>
            <mat-card-title>{{pokemon.name}}</mat-card-title>
            <mat-card-subtitle>
                <ng-container *ngFor="let typep of pokemon.types; index as i;">
                    <ng-container *ngIf="i == 0">{{typep.type.name}}</ng-container>
                    <ng-container *ngIf="i > 0">, {{typep.type.name}}</ng-container>
                </ng-container>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{pokemon.sprites!.front_default}}" height="177px" alt="Imagen del Pokemon">
        <mat-card-content>
            <p>
                Detalles del pokemon
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="pokemon.favorite" mat-icon-button color="accent"
                    aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>

            <button *ngIf="!pokemon.favorite" mat-icon-button disabled
                    aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>

        </mat-card-actions>
    </mat-card>
</ng-container>
