@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  /*display: grid;*/
  font-size: 1.2rem;
  min-height: 100%;
}
app-main{
  /*display: grid;*/
  min-height: calc(100% - 100px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
